<div class="container">
  <div class="verticalChart">
    <h4 class="mb-5 text-center">Technical Skills</h4>
    <div class="chart-wrapper">
      <canvas id="myChart" width="400" height="250"></canvas>
    </div>
    <h4 class="mb-5 mt-5 text-center">Additional Info</h4>
    <p>I create wireframes  using just pen and paper, it feels most intuitive and easy to me. Next up,  I draw out the whole project as close to the end product as possible.<strong>Sketch</strong> app serves best for me in that area. Images  are a big part of the web, ability to work with them is crucial, that’s when Photoshop comes in. <br>This is how i design front-end.<br></p>
    <p>Some other tools that I use during development are: <br>For version control I use <strong>Git with GitHub</strong>,<br><strong>Trello</strong> for tracking and spliting the work.</p>
  </div>

  <div class="horizontalChart">
      <h4 class="mb-5 text-center">Technical Skills</h4>
      <div class="chart-wrapper">
        <canvas id="chartH" width="600" height="250"></canvas>
      </div>
      <h4 class="mb-5 mt-5 text-center">Additional Info</h4>
      <p>I create wireframes  using just pen and paper, it feels most intuitive and easy to me. Next up,  I draw out the whole project as close to the end product as possible.<strong>Sketch</strong> app serves best for me in that area. Images  are a big part of the web, ability to work with them is crucial, that’s when Photoshop comes in. <br>This is how i design front-end.<br></p>
      <p>Some other tools that I use during development are: <br>For version control I use <strong>Git with GitHub</strong>,<br><strong>Trello</strong> for tracking and spliting the work.</p>
    </div>
    <p>test</p>
</div>