<div class="container">
  <div [ngsReveal]="{reset: false, duration: 1200, origin: 'bottom', distance: '300px', easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'}" class="verticalChart">
    <h4 class="p-5 text-center jura">Technical Skills</h4>
    <div class="chart-wrapper">
      <canvas id="myChart" width="400" height="250"></canvas>
    </div>
    <hr>
    <div>
    <h4 class="mb-5 mt-5 text-center jura">Additional Info</h4>
    <p class="pl-3 pr-3">I create wireframes  using just pen and paper, it feels most intuitive and easy to me. Next up,  I draw out the whole project as close to the end product as possible. <strong>Sketch</strong> app serves best for me in that area. Images  are a big part of the web, ability to work with them is crucial, that’s when Photoshop comes in. <br>This is how i design front-end.<br></p>
    <p class="pl-3 pr-3 pb-4">Some other tools that I use during development are: <br>For version control I use <strong>Git with GitHub</strong>,<br><strong>Trello</strong> for tracking and spliting the work.</p>
    </div>
  </div>

  <div [ngsReveal]="{reset: false, duration: 1200, origin: 'bottom', distance: '300px', easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'}" class="horizontalChart">
      <h4 class="p-5 text-center jura">Technical Skills</h4>
      <div class="chart-wrapper">
        <canvas id="chartH" width="600" height="250"></canvas>
      </div>
      <hr>
      <h4 class="mb-5 mt-5 text-center jura">Additional Info</h4>
      <p class="pl-3 pr-3">I create wireframes  using just pen and paper, it feels most intuitive and easy to me. Next up,  I draw out the whole project as close to the end product as possible. <strong>Sketch</strong> app serves best for me in that area. Images  are a big part of the web, ability to work with them is crucial, that’s when Photoshop comes in. <br>This is how i design front-end.<br></p>
      <p class="pl-3 pr-3 pb-4">Some other tools that I use during development are: <br>For version control I use <strong>Git with GitHub</strong>,<br><strong>Trello</strong> for tracking and spliting the work.</p>
    </div>
</div>