<div class="container-fluid">
  <div class="white-placeholder">
    <div id="back-to-top">
      <a href="#navbar1"><i class="fas fa-angle-up"></i></a>
    </div>
  </div>
  <div class="row">
    <div class="contact-box class col-lg-8 col-md-8 col-sm-8 col-10 offset-lg-2 offset-md-2 offset-sm-2 offset-1">
      <div class="row">
        <h4 class="jura col-lg-6 col-md-6 d-flex justify-content-center justify-content-md-center">Any questions?</h4>
        <div class="contact-btn col-lg-6 col-md-6 d-flex justify-content-center justify-content-md-center">
        <a href="#">Send me a message</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
      <div class="logo">
        <img src="assets/images/logo/logo-white.png" alt="">
      </div>
    <div class="row">
      <div class="links col-lg-2 col-md-4 col-sm-4 col-6 offset-lg-5 offset-md-4 offset-sm-4 offset-3 d-flex justify-content-between">
        <i class="fab fa-github"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
      </div> 
    </div>
  </div>
</div>