<nav class="navbar navbar-expand-md navbar-light bg-transparent">
  <a class="navbar-brand logo" href="#"><img src="assets/images/logo/logo-purple.png" alt="Logo of T.A initials"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact-link" href="#">let's chat</a>
      </li>
    </ul>
  </div>
</nav>