<div class="container-fluid banner mt-5">
  <div class="row">
    <div [ngsReveal]="{duration: 1300, origin: 'left', scale: 1, distance: '300px',viewFactor: 0, easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'}" class="banner-img col-sm-6 col-md-6 col-lg-4 offset-lg-2 order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1">
      <img src="../../assets/images/avatar2.png " alt="Photo of a Person">
    </div>
    <div [ngsReveal]="{duration: 1300, origin: 'right', scale: 1, distance: '300px', easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'}" class="banner-text col-sm-6 col-md-6 col-lg-5 col-md-5 col-sm-5 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2">
      <p>Hello, I am glad you are here.</p>
      <p>I am a Web developer. I design and code things, and I love doing that!</p>
    </div>
  </div>
</div>