<div class="container-fluid">
  <div [ngsReveal]="{viewFactor: 0, duration: 1300, origin: 'left', scale: 1, distance: '300px', easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'}" class="bio-box">
    <div class="row">
      <div id="bio" class="text-center col-lg-4 offset-lg-4 col-sm-10 col-10 col-md-6 offset-md-3 offset-sm-1 offset-1">
      <h4>Hi, my name is Timur Almamedov. Nice to meet you.</h4>
      <br>
      <p>I’ve always had passion for technology,and i like creating stuff. I am fairly new to the game, but i am very passionate about web development. Along with my continious self-education, I finished Codefactory coding school in Vienna,and Le wagon bootcamp in Brussels. I like playing guitar, and my favourite color is #8C43FF, and believe me, i am trying not to use it everywhere.</p>
      </div>
    </div>
  </div>
</div>