<div class="container-fluid">
  <div [ngsReveal]="{viewFactor: 0, duration: 1300, origin: 'left', scale: 1, distance: '300px', easing: 'cubic-bezier(0.68, -0.55, 0.265, 1.55)'}" class="bio-box">
    <div class="row">
      <div id="bio" class="text-center col-lg-4 offset-lg-4 col-sm-10 col-10 col-md-6 offset-md-3 offset-sm-1 offset-1">
      <h4>Hi, my name is Tim Almamedov. Nice to meet you.</h4>
      <br>
      <p>I’ve always had passion for technology,and i like creating stuff. I am fairly new to the game, but i am very passionate about web development. Along with my continious self-education, I finished <span class="school-link"><a href="https://www.codefactory.wien/" target="_blank">Codefactory coding school</a></span> in Vienna,and <span class="school-link"><a href="https://www.lewagon.com/" target="_blank">Le wagon</a></span> bootcamp in Brussels. I like learning new things and I'm always open for opportunities to improve myself.</p>
      </div>
    </div>
  </div>
</div>