@import '../../style_assets/variables.scss';

.bio-box {
    width: 100%;
    background-color: $purple;
}

#bio {
    color: white;
    font-size: 21px;
    margin-top: 70px;
    margin-bottom: 100px;
    h4 {
        font-family: $jura-font;
        font-weight: 700;
    }
    p{
        font-weight: 300;
        .school-link {
            a{
                color: white;
                font-weight: 400;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1575px) and (min-width: 1289px) {
    #bio {
        font-size: 19px;
    }
}

@media (max-width: 1289px) {
    #bio {
        font-size: 17px;
    }
}