            .c{
                text-align: center;
                display: block;
                position: relative;
                width:80%;
                margin:100px auto;
                color: #8C43FF
            }
            ._404{
                font-size: 220px;
                height: 250px;
                letter-spacing: 15px;
            }
            ._1{
                letter-spacing: 12px;
                font-size: 4em;
                // line-height: 80%;
            }
            ._2{
                font-size: 20px;
            }