/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Jura|Lato:100,300,400');
@import 'style_assets/variables.scss';
@import '../node_modules/toastr/build/toastr.min.css';

body {
    font-family: $lato-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jura {
    font-family: $jura-font; 
}

.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.container-fluid {
    padding-right: 0px!important;
    padding-left: 0px!important;
}